<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.coursework.mapper.SubjectMapper">

    <insert id="addSubject">
    	INSERT into subject(name,userId) values(#{name},#{userId})
    </insert>
    
    <delete id="delSubject">
    	delete from subject where id=#{name}
    </delete>
    
    <update id="updateSubject">
    	update subject set
    	name=#{name},
    	userId=#{userId}
    	where id=#{id}
    </update>
    
    <select id="getSubjectById" resultType="com.ts.coursework.entity.Subject">
    	SELECT `subject`.id,`subject`.name,`subject`.userId,`user`.`name` userName 
		from subject,user  
		where `subject`.id=#{id} and `subject`.userId=`user`.id 
    </select>
    
     <select id="getAllSubjects" resultType="com.ts.coursework.entity.Subject">
    	SELECT `subject`.id,`subject`.name,`subject`.userId,`user`.`name` userName 
		from subject,user 
		where `user`.id=`subject`.userId
    </select>
    
</mapper>