<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.coursework.mapper.UserAnswerMapper">
	
	<resultMap id="UserAnswerMap" type="com.ts.coursework.entity.UserAnswer">
		<id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="text_id" property="textId"/>
        <result column="exam_paper_id" property="examPaperId"/>
        <result column="subject_id" property="subjectId"/>
        <result column="status" property="status"/>
        <result column="exam_id" property="examId"/>
        <result column="score" property="score"/>
        <result column="user_name" property="userName"/>
        <result column="course_id" property="courseId"/>
	</resultMap>
	
	<insert id="add">
    	insert into user_answer(id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score,course_id) 
		values(id,#{userId},#{textId},#{examPaperId},#{subjectId},#{status},#{examId},#{score},#{courseId})
    </insert>
    
    <delete id="del">
    	DELETE from user_answer
		where id=#{id}
    </delete>
    
    <delete id="delByUserIdAndExamId">
    	DELETE from user_answer
		where user_id=#{userId} and exam_id=#{examId}
    </delete>
    
    <update id="update">
    	update user_answer SET
		id=#{id},
		user_id=#{userId},
		text_id=#{textId},
		exam_paper_id=#{examPaperId},
		subject_id=#{subjectId},
		status=#{status},
		exam_id=#{examId},
		score=#{score}
		where id=#{id}
    </update>
    
    <select id="get" resultMap="UserAnswerMap">
        SELECT  user_answer.id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score,`user`.name user_name
		from user_answer,`user`
		where user_answer.user_id=user.id and user_answer.id=#{id}
    </select>
    
    <select id="getByUserId" resultMap="UserAnswerMap">
        SELECT  id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score
		from user_answer
		where user_id=#{userId}
    </select>
    
    <select id="getByUserIdAndExamPaperId" resultMap="UserAnswerMap">
        SELECT  id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score
		from user_answer
		where user_id=#{userId} and exam_paper_id=#{examPaperId}
    </select>
    
    <select id="getByUserIdAndExamId" resultMap="UserAnswerMap">
        SELECT  id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score
		from user_answer
		where user_id=#{userId} and exam_id=#{examId}
    </select>
    
    <select id="getByExamId" resultMap="UserAnswerMap">
        SELECT  user_answer.id,user_id,text_id,exam_paper_id,subject_id,status,exam_id,score,`user`.name user_name
		from user_answer,`user`
		where user_answer.user_id=user.id and user_answer.exam_id=#{examId}
    </select>
</mapper>